{% extends 'layout/base.html' %}

{% block content %}

{% include 'include/navbar.html' %}

<div class="card col-sm-4 mx-auto mt-4">
    <div class="card-body">
        <h5 class="card-title">Delete Gender</h5>
        <form action="/gender/destroy/{{ gender.gender_id }}" method="post">
            {% csrf_token %}
            <p>Are you sure do you want to delete this gender?</p>
            <div class="form-group">
                <div class="mb-3">
                    <label for="{{ form.gender.id_for_label }}">Gender</label>
                    {{ form.gender }}
                </div>
                <button type="submit" class="btn btn-danger col-sm-3 float-end">Yes</button>
                <a href="/genders" class="btn btn-secondary col-sm-3 float-end me-1">Back</a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
    