{% extends 'layout/base.html' %}

{% block content %}
    
<div class="card col-sm-7 mx-auto mt-4">
    <div class="card-body">
        <h5 class="card-title">List of Genders</h5>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Id</th>
                    <th>Gender</th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

